<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BancoTalentos.UI.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <RadzenTheme Theme="material" @rendermode="SenacPlataformConfig.ComponentRenderMode" />
    <HeadOutlet @rendermode="SenacPlataformConfig.ComponentRenderMode" />
</head>

<body>
    <Routes @rendermode="SenacPlataformConfig.ComponentRenderMode" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>
</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private const string IDENTITY_BASE_PATH = "/Account";
    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments(IDENTITY_BASE_PATH) ? null : InteractiveServer;

    /* AGUARDAR ALTERAÇÂO MICROSOFT
        https://forum.radzen.com/t/login-looping/4417
        https://stackoverflow.com/questions/77599233/blazor-net-8-and-global-interactivity-issue-with-identity/77599354#77599354
        https://forum.radzen.com/t/sidebar-not-working-in-net-8-rc1-experiment/15198/23
        https://forum.radzen.com/t/rendermode-in-blazor-web-app/16608/8
    */
}